<!-- navbar -->
<div class="container-fluid card-img">
    <div class="row sticky-top form-inline"
        style="display: flex;height: 60px; background-color: rgb(32, 31, 31);justify-content: space-between;">

        <!-- logo -->
        <div class="col-2">
            <a routerLink="/farmer_home">
                <h3 style="color: white;">Farmer Home</h3>
            </a>
        </div>

        <!-- sign in button -->
        <div class="col-6" style="display: flex; ">
            <a class="btn btn-outline-warning mr-2 btncss" routerLink="/farmer_home/">Add Product</a>
            <a class="btn btn-outline-warning mr-2 btncss" routerLink="/farmer_home/showproduct">Show MyProducts</a>
            <a class="btn btn-outline-warning mr-2 btncss" routerLink="/about_us">About Us</a>
            <a class="btn btn-outline-warning mr-2 btncss" routerLink="/profile">
                {{sessId}}
            </a>
            <button class="btn btn-outline-warning mr-1 btncss" (click)="processLogout()">
                Log Out
            </button>
        </div>
    </div>





    <div>
        <router-outlet></router-outlet>
    </div>

</div>