.background{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2F556827941403880905%2F&psig=AOvVaw2pSacJ5RVVvAcH__vvMD52&ust=1611474652525000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCXlIbJse4CFQAAAAAdAAAAABBB");
    background-size: cover;
    background-position: center;
    
}