<!-- navbar -->
<div class="container-fluid">
    <div class="row sticky-top form-inline"
        style="display: flex;height: 60px; background-color: rgb(32, 31, 31);justify-content: space-between;">

        <!-- logo -->
        <div class="col-4">
            <a routerLink="/home">
                <h3 style="color: white;">Agro Bidding System</h3>
            </a>
        </div>

        <!-- sign in button -->
        <div class="col-4" style="display: flex; justify-content: center;">
            <a class="btn btn-outline-warning mr-1" routerLink="/login">Login</a>
            <a class="btn btn-outline-warning mr-1" routerLink="/register">Register</a>
            <a class="btn btn-outline-warning mr-1" routerLink="/about_us">About Us</a>
        </div>
    </div>
    <div class="row  justify-content-center">
        <!-- <div class="col-8"><img src="home.jpg"></div> -->

        <div class="col-7  justify-content-center  mt-4 mb-5 font-weight-bolder"
            style="padding-top:10%;font-style: italic">

            <h3 class="" style="color: rgb(243, 208, 10);">Welcome to Our Website</h3>
            <h2 class="font-weight-bold" style="color:rgb(153, 11, 6);font-size: 50px;">Agro Bidding System</h2>

        </div>

    </div>



</div>